<!doctype html>
<html>
  <head>
    <title>{{ appname }} status</title>
  </head>
  <body>
    <p>
      The {{ appname }} is up and running!
    </p>
    <h2>Orchestrator status</h2>
    <p>
      The current orchestrator status is as follows:
      <ul>
        <li>{{ cycles }} cycles have passed
        <li>{{ num_started }} VMs have been started
        <li>{{ num_active }} VMs are currently active (ready for processing jobs)
      </ul>
    </p>
    <!-- table of the started VMs -->
    <h2>Started VMs</h2>
    <table>
      <tr>
        <th>ID</th>
        <th>State</th>
        <th>Node name</th>
      </tr>
      {% for vm in vms %}
      <tr>
        <td>{{ vm.vmid }}</td>
        <td>{{ vm.state }}</td>
        <td>{{ vm.nodename }}</td>
        <td>
          {% if vm.is_starting %}
          <a href="{{ vm.ready_url }}">Manually mark as ready</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
